<div class="hero">
    <div class="section hero-content">
        <a href="/">
            <img id="wordmark" src="/files/site/kq-wordmark.svg">
        </a>

        <ul class="hz-link-list nav">
            <a class="zap-link" href="/about/"><li><span class="zap-link-border"></span>about me</li></a>
            <a class="zap-link" href="/patterns/"><li><span class="zap-link-border"></span>patterns</li></a>
            <a class="zap-link" href="/blog/"><li><span class="zap-link-border"></span>blog</li></a>
        </ul>
    </div>
</div>