{% extends "layouts/_common.njk" %}

{% block main %}
    <div id="blogs" class="section">
        <h1>blog</h1>
        <div class="hr"></div>

        <p style="text-align:center;">Coming soon!</p>
    </div>
{% endblock %}
