{% extends "layouts/_common.njk" %}

{% block main %}
    <div id="patterns" class="section">
        <h1>featured patterns</h1>
        <div class="hr"></div>

        <div class="grid">
            {% for pattern in collections.featured | reverse %}
                <a href="{{ pattern.url }}">
                    <div class="featured-item-container grid-item-container-{{ pattern.data.group }}">
                        <div class="grid-item grid-item-{{ pattern.data.group }}">
                            <img src="{{ pattern.data.image1 }}">
                            <div class="grid-text">
                                <h4 class="title">{{ pattern.data.name | lower }}</h4>
                                <p class="subtitle">{{ pattern.data.type | lower }}</p>
                                <p class="subtitle-2">{{ pattern.data.publication | lower }}</p>
                                {# <p class="subtitle-2">{{ pattern.data.publication | lower }}</p> #}

                                <ul class="hz-link-list">
                                    {% if pub.data.rav_link %}
                                        <a class="zap-link" href="{{ pub.data.rav_link }}" target="_blank"><li><span class="zap-link-border"></span>Buy on Ravelry</li></a>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
