{% extends "layouts/_common.njk" %}

{% block main %}
    <div class="section pattern">
        <div class="pattern-gallery">
            <img src="{{ image1 }}">
            {% if image2 %}
                <img src="{{ image2 }}">
            {% endif %}
           {% if image3 %}
                <img src="{{ image3 }}">
            {% endif %}
            {% if image4 %}
                <img src="{{ image4 }}">
            {% endif %}
            {% if image5 %}
                <img src="{{ image5 }}">
            {% endif %}
        </div>

        <div class="pattern-text">
            <h1>{{ page_title | lower }}</h1>
            <div class="hr"></div>

            {{ content | safe }}

            <div class="buy">
                <a class="zap-link extra-pad" href="{{ rav_link }}" target="_blank"><span class="zap-link-border"></span>buy on ravelry</a>
            </div>
        </div>
    </div>
{% endblock %}
